body { color: #ffffff; background-color: #222222; font-family: verdana, arial, helvetica, sans-serif; padding: 0em; margin: 0em; }
.header { text-align: right; margin: 0em; padding: 1.5ex; }
.header a:link, .problem-menu a:link { color: #aaffff; }
.header a:visited, .problem-menu a:visited { color: #aaffff; }
.header a:hover, .problem-menu a:hover { background-color: #888888; text-decoration: none; }
#logo { margin: 0.1em; color: #00ffff; }

.main { padding : 1em; margin: 0em; color: #ffffff; background-color: #000000; border: 1em transparent solid; }
.main a:link { color: #aaaaaa; }
.main a:visited { color: #aaaaaa; }
.main a:hover { color: #3333ff; }

h1 { font-size: 32px; color: #7070e0; }
h2 { font-size: 32px; color: #7070e0; }
h3 { font-size: 24px; color: #7070e0; }
h4 { font-size: 24px; color: #7070e0; }
h5 { font-size: 24px; color: #7070e0; }

table { border-collapse: border; }
th, td { border: solid 1px #222222; padding: 1ex; font-weight: bold; }
th { background-color: #222222; color: #ffffff; }

.myAC { color: #02ff02; background-color: #002200; }
.myRV { color: #00ffff; background-color: #002200; }
.myWA { color: #c00000; background-color: #002200; }
.myUN { color: #ffffff; background-color: #002200; }
.stAC { color: #02ff02; background-color: #000000; }
.stRV { color: #00ffff; background-color: #000000; }
.stWA { color: #c00000; background-color: #000000; }
.stUN { color: #ffffff; background-color: #000000; }

.MC { color: #00ffff; background-color: #000000; }
.RC { color: #ff0000; background-color: #000000; }
.YC { color: #ffff00; background-color: #000000; }
.PC { color: #ff00ff; background-color: #000000; }
.BC { color: #0000ff; background-color: #000000; }
.GC { color: #00ff00; background-color: #000000; }
.HC { color: #888888; background-color: #000000; }

.AC { color: #00ff00; background-color: #000000; }
.WA { color: #ff0000; background-color: #000000; }
.RE { color: #ff00ff; background-color: #000000; }
.OLE { color: #ffffff; background-color: #000000; }
.MLE { color: #00dd88; background-color: #000000; }
.TLE { color: #ffff00; background-color: #000000; }
.PE { color: #ffffff; background-color: #000000; }
.CE { color: #888888; background-color: #000000; }
.JFF { color: #333333; background-color: #bbbbbb; }
.SF { color: #333333; background-color: #bbbbbb; }
.RUN { color: #000000; background-color: #ffffff; }

.colorA { color: #ffffff; background-color: #aa0000; }
.colorB { color: #ffffff; background-color: #0000aa; }
.colorC { color: #ffffff; background-color: #bbbb00; }
.colorD { color: #ffffff; background-color: #00aa00; }
.colorE { color: #ffffff; background-color: #888888; }
.colorF { color: #ffffff; background-color: #cc90cc; }
.colorG { color: #ffffff; background-color: #ee7722; }
.colorH { color: #ffffff; background-color: #8888bb; }
.colorI { color: #ffffff; background-color: #66bb66; }
.colorJ { color: #ffffff; background-color: #884488; }
.colorK { color: #ffffff; background-color: #333333; }
.colorL { color: #ffffff; background-color: #808000; }
.colorM { color: #ffffff; background-color: #cc00cc; }
.colorN { color: #ffffff; background-color: #000080; }
.colorO { color: #ffffff; background-color: #999999; }
.colorP { color: #ffffff; background-color: #000000; }
.colorQ { color: #ffffff; background-color: #000000; }
.colorR { color: #ffffff; background-color: #000000; }
.colorS { color: #ffffff; background-color: #000000; }
.colorT { color: #ffffff; background-color: #000000; }
.colorU { color: #ffffff; background-color: #000000; }
.colorV { color: #ffffff; background-color: #000000; }
.colorW { color: #ffffff; background-color: #000000; }
.colorX { color: #ffffff; background-color: #000000; }
.colorY { color: #ffffff; background-color: #000000; }
.colorZ { color: #ffffff; background-color: #000000; }

td.user, td.problem, td.judge, td.language { text-align: center; }
td.id, td.time, td.memory, td.size { text-align: right; }
pre.source { font-family: DejaVu Sans Mono, monospace; background-color: #f8f8f8; color: #000000; border: solid 1px #555555; padding: 1em; }
.footer { font-size: smaller; text-align: right; margin: 1em; }

.message { border: #f26800 2px solid; color: #000000; background-color: #ffffff; font-size: large; padding: 1ex; }
