body { color: #ffffff; background-color: #222222; font-family: verdana, arial, helvetica, sans-serif; padding: 0em; margin: 0em; }
.header { text-align: right; margin: 0em; padding: 1.5ex; }
.header a:link, .problem-menu a:link { color: #aaaaff; }
.header a:visited, .problem-menu a:visited { color: #aaffaa; }
.header a:hover, .problem-menu a:hover { background-color: #ffffff; text-decoration: none; }
#logo { margin: 0.1em; color: #00ffff; }
.main { margin: 0em; color: #ffffff; background-color: #000000; border: 1em transparent solid; }
h1, h2, h3, h4, h5, h6 { color: #7070e0; }
table { border-collapse: border; }
th, td { border: solid 1px #222222; padding: 1ex; font-weight: bold; }
tr.even { background-color: #222222; }
tr.odd { background-color: #333333; }
th { background-color: #222222; color: #ffffff; }
th a:link { color: #aaaaaa; }
th a:visited { color: #aaaaaa; }
td a:link { color: #aaaaaa; }
td a:visited { color: #aaaaaa; }
.AC { color: #00ff00; background-color: #000000; }
.WA { color: #ff0000; background-color: #000000; }
.RE { color: #ff00ff; background-color: #000000; }
.OLE { color: #330022; background-color: #ff88ff; }
.MLE { color: #00dd88; background-color: #000000; }
.TLE { color: #ffff00; background-color: #000000; }
.PE { color: #330000; background-color: #ffdd99; }
.CE { color: #888888; background-color: #000000; }
.JFF { color: #333333; background-color: #bbbbbb; }
.SF { color: #333333; background-color: #bbbbbb; }
.RUN { color: #000000; background-color: #ffffff; }
td.user, td.problem, td.judge, td.language { text-align: center; }
td.id, td.time, td.memory, td.size { text-align: right; }
pre.source { font-family: DejaVu Sans Mono, monospace; background-color: #f8f8f8; color: #000000; border: solid 1px #555555; padding: 1em; }
.footer { font-size: smaller; text-align: right; margin: 1em; }
a.white:link { color: #FFFFFF; }
a.white:visited { color: #FFFF88; }

#submit td { border-style: none; font-weight: normal; }
#submit th { color: #101010; background-color: transparent; border-style: none; text-align: left; }
.message { border: #f26800 2px solid; color: #000000; background-color: #ffffff; font-size: large; padding: 1ex; }

.problem-menu { background-color: #000000; padding: 1ex 1ex 1ex 2ex; font-weight: bold; text-align: right; }

.stAC { color: #02ff02; background-color: #000000; }
.stWA { color: #c00000; background-color: #000000; }
